/* Quovolver Demo Styles */

/*
 |	All required styles for the effect
 |	are labeled with this *required*
*/

body { font-family: 'Droid Sans', sans-serif; font-size: 13px; line-height: 18px; color: #373737; }
a { text-decoration: none; color: #52b7d4; }
a:hover { color: #ea9941; }


#footer { padding: 20px 0; }
#wrapper { max-width: 80%; margin: 0 auto; width:98%;}
#description { margin-bottom: 40px; padding-bottom: 10px; }
h1, h2 { font-weight: normal; }
h2 { font-size: 12px; }
#description p { margin-bottom: 10px; }
#footer { font-size: 11px; line-height: 16px; }
#footer a { color: #373737; border-bottom: 1px solid #f2f2f2; }
#footer a:hover { color: #ea9941; border-color: #ea9941; }
code { font-family: "Courier New", Courier, Monaco, monospace; background: #f2f2f2; margin-bottom: 20px; display: block; padding: 20px; }	


#pageheading h1{font-size: 50px; }

#pageheading {background-color: #fbffec;
	margin: 0px 0;  border: 1px solid #edffaf;}

.center {display:block;margin:0 auto;}

.embed-container {
    position: relative;
    padding-bottom: 75% ; /* 75%=4:3; 56.25% =16/9 ratio */
    padding-top: 30px; /* IE6 workaround*/
    height: 0;
    overflow: hidden;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-bottom: 50px;
    
}


textarea
{
    width:99%;
    height: 105px;
}


#header { 
 
	padding-top: 0px;
	padding-bottom: 10px;}


.contact {

	
	margin:0;
	padding:0;
	text-align: right;

}

h1 { 

	font-family: 'Droid Serif', serif;
	font-size: 46px;
	line-height: 55px; 
	margin-left: 0px; 
	text-align: center;

}

#quote_wrap { 
	
	background-color: #fbffec;
	margin: 0px 0; padding: 5%; border: 1px solid #edffaf;
	height: 100%;
	}

blockquote {
	font-family: 'Droid Serif', serif;
	width: 600px; /* required */
	margin: 0 auto;
	height: 300px;


}

/*blockquote {
	font-family: 'Droid Serif', serif;
	width: 600px;  required 
	padding-bottom: 20px;
	margin-bottom: 20px;
	margin: 50px auto;
	}
*/

blockquote p { 
	font-size: 20px;
	line-height: 35px;
 	font-style: italic; 

 }


blockquote cite { 

	font-style: normal;
	display: block;
	text-align: right;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
	letter-spacing: 1px;
	font-family: 'Droid Sans', sans-serif;
	padding-bottom: 5%;
}

.clearfix {

    float: none;
    clear: both;

}


.tutorialpart {
	margin-top: 20px;
	padding-top: 0px;
	padding-bottom: 40px;
	
}

.tutorialpart h3 {
	font-size: 24px;
	line-height: 30px;
	font-weight: bolder;


}

.work {

	font-size: 18px;
}

.work h3 {
	font-size: 24px;
	line-height: 30px;
	font-weight: bolder;

}

.intro p {
	font-size: 30px;
	/*padding-top: 10px;*/
	line-height: 60px;
	font-color: #1f1f1f; 
	font-family: 'Droid Serif', serif;


}

span
{
white-space:nowrap;
}

 @media only screen and (max-width: 825px) {

blockquote {

	width: 250px; 
	height: 525px;
	/* required */
	}

	.intro p {
	font-size: 20px;
	line-height: 40px;
}


/*
 |	Setting the width for the blockquotes is required
 |	to accurately adjust it's contianer
*/


	}
	
/*
 |	The #quote_wrap div is created
 |	by Quovolver to wrap the quotes
*/


