/* Quovolver Demo Styles */

/*
 |	All required styles for the effect
 |	are labeled with this *required*
*/

body { font-family: helvetica, sans-serif; font-size: 13px; line-height: 18px; color: white; background-color: black; }
a { text-decoration: none; color: #52b7d4; }
a:hover { color: #ea9941; }



#quote_wrap { 
	
	background-color: black;
	margin: 0px 0; padding-top: 10%;
	height: 100%;
	}



blockquote {
	font-family: helvetica, sans-serif;
	width: 800px; 
	font-style: bold;
	font-weight: bold; 
	padding-bottom: 20px;
	margin-bottom: 20px;
	margin: 0px auto;
	letter-spacing: 105%;
	}


blockquote p { 
	font-size: 350%;
	line-height: 145%;
 	font-style: bold; 
 	font-weight: bold; 
 }


blockquote cite { 

	font-style: normal;
	display: block;
	text-align: left;
	font-size: 200%;
	font-style: bold;
	font-weight: bold;
	letter-spacing: 105%;
	font-family: helvetica, sans-serif;
	padding-top: 5%;

}

.clearfix {

    float: none;
    clear: both;

}


span
{
white-space:nowrap;
}

 @media only screen and (max-width: 825px) {

blockquote {

	width: 250px; 
	height: 525px;
	/* required */
	}

	.intro p {
	font-size: 20px;
	line-height: 40px;
}


/*
 |	Setting the width for the blockquotes is required
 |	to accurately adjust it's contianer
*/


	}
	
/*
 |	The #quote_wrap div is created
 |	by Quovolver to wrap the quotes
*/


